<header class="menu">
    <div class="itens-menu">
        <a class="menu-logo" href="#">
            <img src="assets/images/logo.jpeg">
        </a>	
        <nav class="menu-nav">
            <ul>
                <li><a href="#">Promoções</a></li>
                <li><a href="#">Cardápio</a></li>
                <li><a href="#">Quem Somos</a></li>
                <li><a href="#">Contato</a></li>
                <a class="peca-agora" href="#">Peça Agora</a>
            </ul>
        </nav>
    </div>
</header>

